@page
@model PRN221.Pages.OrderPages.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_LayoutManage.cshtml";

}
<div class="container">
    <h1>Order Management</h1>
    <h4>Order edit</h4>
    <hr />
    <div style="width:60%">
        <div>
            <label>List product</label>
            <form method="post">
                <div>
                    @for (int i = 0; i < Model.orderXProducts.Count; i++)
                    {
                        <div class="card">
                            <div class="d-flex align-items-start p-2">
                                <div class="me-4">
                                    <img src="https://i.pinimg.com/564x/24/c7/f8/24c7f87928b40c3b306fd9848ebb0c51.jpg" alt="Generic placeholder image" class="rounded border">
                                </div>
                                <div class="flex-grow-1 align-self-center overflow-hidden">
                                    <div>
                                        <h6>@Model.orderXProducts[i].Product.ProductName</h6>
                                        <p class="mb-1 mt-1">Unit price:
                                            @Model.orderXProducts[i].Product.Price
                                        </p>
                                        <p class="mb-1 mt-1">
                                            Quantity:
                                            <input asp-for="orderXProducts[i].Quantity" type="number" name="orderXProducts[@i].quantity" />
                                        </p>
                                        <input type="hidden" asp-for="orderXProducts[i].ProductId" value="@Model.orderXProducts[i].ProductId" />
                                        <input type="hidden" asp-for="orderXProducts[i].OrderId" value="@Model.orderXProducts[i].OrderId" />
                                        <input type="hidden" asp-for="orderXProducts[i].Product.Price" value="@Model.orderXProducts[i].Product.Price" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Order.Id" />
                <div class="form-group">
                    <label>Description</label>
                    <input asp-for="Order.Description" class="form-control" />
                    <span asp-validation-for="Order.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Voucher</label>
                    <select asp-for="@Model.Order.VoucherId">
                        <option value="">No voucher</option>
                        @foreach (var v in Model.vouchers)
                        {
                            <option value="@v.Id">@v.VoucherName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select asp-for="Order.Status">
                        <option value="Completed">Completed</option>
                        <option value="Approved">Approved</option>
                        <option value="Waiting">Waiting</option>
                        <option value="Delivering">Delivering</option>
                        <option value="Canceled">Canceled</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Order.UserId" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
