@page
@model PRN221.Pages.VoucherPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-page-handler="Search" method="post">
    <div class="d-flex mb-3 mt-3" style="width: 40%">
        <input class="w-100" type="text" value="@Model.txtSearch" name="txtSearch" placeholder="What do you want to search?" />
        <button type="submit" class="btn-blue" style="padding-inline:8px">Search</button>
    </div>
</form>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Voucher[0].VoucherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voucher[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voucher[0].Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voucher[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voucher[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voucher[0].IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voucher[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voucher[0].LastUpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voucher[0].VoucherType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Voucher)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VoucherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Condition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VoucherType.VoucherTypeName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
