 @page
@model PRN221.Pages.ProductManagement.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutManage.cshtml";
}

<h1>Product Management</h1>
<hr />
<div class="d-flex position-relative">
    <div class="d-flex mb-3 mt-3" style="width: 40%">
        <form method="get" class="d-flex" style="width:100%">
            <input class="w-100" name="keyword" asp-for="keyword" />
            <button class="btn-pink" style="padding-inline:8px">Search</button>
        </form>
    </div>
    <div>
        <a asp-page="Create" class="aAdd position-absolute" style="right:0">Add new product</a>
    </div>
</div>

<form method="get">
    <label for="StatusFilter">Filter by Type:</label>
    <select id="typeFilter" name="typeFilter" asp-for="typeFilter">
        <option value="">All</option>
        @foreach (var type in Model.ProductTypes)
        {
            <option value="@type.Id">@type.ProductTypeName</option>
        }
    </select>
    <button type="submit" class="btn-pink">Filter</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Product type
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Stock quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Status
            </th>
            <th>
                Created date
            </th>
            <th>
                Updated date
            </th>
            <th>
                Edit
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @item.ProductType.ProductTypeName
                </td>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.StockQuantity
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @if (item.IsDeleted == true)
                    {
                        <p class="btn btn-danger">Inactive</p>
                    }
                    else if (item.IsDeleted == false)
                    {
                        <p class="btn btn-success">Active</p>
                    }
                </td>
                <td>
                    @item.CreatedDate?.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.LastUpdatedDate?.ToString("dd/MM/yyyy")
                </td>

                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="edit">Edit</a> 
                    <!--
                     <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    -->
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="delete">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-center">
    <div class="pagination">
        @if (Model.Products.HasPreviousPage)
        {
            <a asp-page="/ProductManagement/Index" asp-route-pageIndex="@(Model.Products.PageIndex-1)"> Previous </a>
        }

        @for (int i = 1; i <= Model.Products.TotalPages; i++)
        {
            <a asp-page="/ProductManagement/Index" asp-route-pageIndex="@i"> @i </a>
        }

        @if (Model.Products.HasNextPage)
        {
            <a asp-page="/ProductManagement/Index" asp-route-pageIndex="@(Model.Products.PageIndex + 1)"> Next </a>
        }
    </div>
</div>