@page
@model PRN221.Pages.BlogPages.IndexModel

@{
    ViewData["Title"] = "Post Management";
}

<h1>Post Management</h1>

<form asp-page-handler="Search" method="post">
    <div class="d-flex mb-3 mt-3" style="width: 40%">
        <input class="w-100" type="text" value="@Model.txtSearch" name="txtSearch" placeholder="What do you want to search?" />
        <button type="submit" class="btn btn-blue" style="padding-inline: 8px">Search</button>
    </div>
</form>

<div class="link-container">
    <a asp-page="Create" class="custom-link">Create New</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].Content)
            </th>
            <th>
                Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].LastUpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Blog)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                
                <td>
                    @if (item.IsDeleted)
                    {
                        <span class="badge badge-danger">Inactive</span>
                    }
                    else
                    {
                        <span class="badge badge-success">Active</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .btn-blue {
        background-color: rgb(252, 200, 209);
        color: rgb(209, 77, 114);
        border: none;
        padding: 8px 12px;
        border-radius: 5px;
        cursor: pointer;
    }

        .btn-blue:hover {
            background-color: rgb(209, 77, 114);
        }

    .link-container {
        margin-top: 20px;
    }

    .custom-link {
        color: rgb(209, 77, 114);
        text-decoration: none;
        padding: 8px 12px;
        background-color: rgb(252, 200, 209);
        border-radius: 5px;
    }

        .custom-link:hover {
            text-decoration: underline;
            background-color: rgb(209, 77, 114);
        }

    .badge {
        display: inline-block;
        padding: 6px 12px;
        font-size: 12px;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        border-radius: 10px;
    }

    .badge-success {
        background-color: #28a745;
    }

    .badge-danger {
        background-color: #dc3545;
    }
</style>
