@page
@model PRN221.Pages.BlogPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-page-handler="Search" method="post">
    <div class="d-flex mb-3 mt-3" style="width: 40%">
        <input class="w-100" type="text" value="@Model.txtSearch" name="txtSearch" placeholder="What do you want to search?" />
        <button type="submit" class="btn-blue" style="padding-inline:8px">Search</button>
    </div>
</form>
<div class="link-container">
    <a asp-page="Create" class="custom-link">Create New</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].isDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].createdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].updatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Blog) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.content)
            </td>
            <td>
                    @if (item.isDeleted == true)
                    {
                        <p>Inactive</p>
                    }
                    else if (item.isDeleted == false)
                    {
                        <p>Active</p>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<style>
    .btn-blue{
        background-color: #007bff; /* Màu xanh */
    }
    .link-container {
        background-color: #007bff; /* Màu xanh */
        padding: 10px 20px;
        border-radius: 5px;
        display: inline-block;
    }

    .custom-link {
        color: white; /* Màu chữ trắng */
        text-decoration: none; /* Xóa gạch chân */
    }

        .custom-link:hover {
            text-decoration: underline; /* Thêm gạch chân khi hover nếu muốn */
        }
</style>